---
---

@import "nivo-slider";

a:link {
  color: #b03c1d;
  text-decoration: none;
}

a:visited {
  color: #b57463;
  text-decoration: none;
}

a:hover,a:active {
  color: #b03c1d;
  text-decoration: underline;
}

.clearfix {width:100%;}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.boxes {
  @extend .clearfix;

  .box:first-child {
    margin: 0;
  }

  .box {
    width: 312px;
    height: 235px;
    float: left;
    background: #fff;
    box-shadow: 0 0 2px #929292;
    margin: 0 0 0 12px;

    dt {
      margin: 10px 0 0 10px;
    }
  }
}

.picture {
  width: 320px;
  height: 235px;
  margin: 0 0 30px 0;
  float: left;
}

.picture dt {
  width: 320px;
  height: 235px;
  margin-left: -5px;
  background: url(../images/middle_box.png) top center no-repeat;
}

.picture img {
  margin: 15px 0 0 15px;
}

.picture dd {
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  color: #2d2d2d;
  text-shadow: 1px 1px 1px #fff;
  background: url(../images/background.png) repeat;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 15px 0;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0;
}

ul {
  list-style: none;
  margin: 5px 0;
}

li {
  margin: 10px 0;
  line-height: 1.2em;
}

p {
  margin: 10px 0;
  line-height: 1.5em;
}

/* Header */

header {
  width: 980px;
  height: 100px;
  margin: 10px auto 0;
}

#header-layout {
  width: 980px;
  height: 100px;
  background: url(../images/header_bg.png) 0 0 no-repeat;
}

#header-box {
  width: 980px;
  height: 50px;
  position: absolute;
  margin: 43px 0 0 155px;
}

#header-box ul {
  float: left;
  list-style: none;
  margin: 0;
}

#header-box li {
  width: 100px;
  height: 50px;
  margin: 0;
  background: url(../images/header_splitter.png) top left no-repeat;
  float: left;
}

#header-box li > a {
  width: 100px;
  height: 50px;
  text-indent: -9999px;
  display: block;
  position: absolute;
  background-image: url(../images/li_sprite.png);
}

.li_about{ background-position: 0 0; width: 100px; height: 50px; }
.li_apps{ background-position: 0 -100px; width: 100px; height: 50px; }
.li_blog{ background-position: 0 -200px; width: 100px; height: 50px; }
.li_contact{ background-position: 0 -300px; width: 100px; height: 50px; }
.li_links{ background-position: 0 -400px; width: 100px; height: 50px; }
.li_works{ background-position: 0 -500px; width: 100px; height: 50px; }


#logo {
  width: 110px;
  height: 105px;
  position: absolute;
  margin: 9px 0 0 30px;
  background: url(../images/logo.png) 0 0 no-repeat;
}

#search-bar {
  width: 172px;
  height: 28px;
  margin: 12px 0 0 620px;
  background: url(../images/search.png) 0 0 no-repeat;
  position: absolute;
  float: left;
}

#search-bar input {
  width: 130px;
  margin: 6px 0 0 28px;
  border: 0;
}

/* Content */

#content {
  width: 100%;
  margin-top: 30px;
  padding-top: 9px;
  background: url(../images/top_border.png) top repeat-x;
}

#content-footer {
  width: 100%;
  height: 10px;
  background: url(../images/bottom_border.png) bottom repeat-x;
}

#slide_bg {
  height: 300px;
  background: #f9f4ed;
}

#slide_case {
  width: 960px;
  margin: 0px auto 0;
}

#slider a{
  display: block;
}

#slider {
  width: 940px;
  height: 310px;
  margin: 16px 0 0 20px;
}

#slide_big {
  width: 980px;
  height: 340px;
  background: url(../images/slide_box.png) top center no-repeat;
  position: absolute;
  margin: -50px 0 0 -9px;
}

.section-pane {
  background: #f9f4ed;
  position: relative;
}

.section {
  width: 960px;
  margin: 0px auto 0;
  padding: 30px 0;
}

section.left {
  width: 665px;
  float: left;
}

section.right {
  width: 200px;
  float: left;
}

/* Footer */

footer {
  width: 960px;
  margin: 20px auto 10px;
}

.post {
  font-size: 18px;

  .post__metadata {
    margin: 15px 0 40px;
    text-align: center;
  }

  p {
    line-height: 1.6em;
    margin: 20px 0;
  }

  h1 {
    font-size: 30px;
    line-height: 1.3em;
  }

  h2 {
    font-size: 25px;
    line-height: 1.3em;
  }

  h3 {
    font-size: 23px;
    line-height: 1.3em;
  }

  ul {
    list-style: disc;
    margin: 20px 20px;
  }
}
