.row {
  &:before, &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

.col-1 {
  width: 8.333333333333332%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333333333%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.66666666666666%;
}

.col-9 {
  width: 75%;
}

.col-1, .col-3, .col-4, .col-6, .col-8, .col-9 {
  float: left;
  position: relative;
  padding: 15px;
  @include box-sizing(border-box);

  @media #{$middle} {
    float: none;
  }

  @media #{$small} {
    width: 100%;
  }
}

.col-push-4 {
  left: 33.33333333333333%;
}

.col-push-8 {
  left: 66.66666666666666%;
}

.col-push-4, .col-push-8 {
  @media #{$middle} {
    left: 0;
  }
}

.col-pull-4 {
  right: 33.33333333333333%;
}

.col-pull-8 {
  right: 66.66666666666666%;
}

.col-pull-9 {
  right: 75%;
}

.col-pull-4, .col-pull-8, .col-pull-9 {
  @media #{$middle} {
    right: 0;
  }
}