---
title: Works
permalink: "/works/"
layout: default
---

<div id="content">
  <div class="section-pane">
    <section class="section clearfix">
      <h1 id="book">Book</h1>
      {% for work in site.data.book_works %}
      <dl class="picture">
        <dt>
          <a href="{{ work.url }}" target="_blank">
            <img alt="{{ work.title }}" src="{{ work.image }}" />
          </a>
        </dt>
        <dd>{{ work.title }}</dd>
      </dl>
      {% endfor %}
    </section>
    <section class="section clearfix">
      <h1 id="music">Music</h1>
      {% for work in site.data.music_works %}
      <dl class="picture">
        <dt>
          <a href="{{ work.url }}" target="_blank">
            <img alt="{{ work.title }}" src="{{ work.image }}" />
          </a>
        </dt>
        <dd>{{ work.title }}</dd>
      </dl>
      {% endfor %}
    </section>
    <section class="section clearfix">
      <h1 id="logo_dtp">Design</h1>
      {% for work in site.data.design_works %}
      <dl class="picture">
        <dt>
          <a href="{{ work.url }}" target="_blank">
            <img alt="{{ work.title }}" src="{{ work.image }}" />
          </a>
        </dt>
        <dd>{{ work.title }}</dd>
      </dl>
      {% endfor %}
    </section>
    <section class="section clearfix">
      <h1 id="web_coding">Web</h1>
      {% for work in site.data.web_works %}
      <dl class="picture">
        <dt>
          <a href="{{ work.url }}" target="_blank">
            <img alt="{{ work.title }}" src="{{ work.image }}" />
          </a>
        </dt>
        <dd>{{ work.title }}</dd>
      </dl>
      {% endfor %}
    </section>
    <section class="section clearfix">
      <h1 id="web_services">
        Web Services
      </h1>
      <dl class="picture">
        <dt>
          <a href="http://cheeze.herokuapp.com" target="_blank"><img alt="Cheeze" src="../images/screens/cheeze.png" /></a>
        </dt>
        <dd>Cheeze | ダウザーの小さなアンケート</dd>
      </dl>
      <dl class="picture">
        <dt>
          <a href="http://new.torapic.com" target="_blank"><img alt="Torapic" src="../images/screens/torapic.png" /></a>
        </dt>
        <dd>Torapic | 毘沙門天のアップローダ</dd>
      </dl>
      <dl class="picture">
        <dt>
          <a href="http://nazr.in" target="_blank"><img alt="Nazr.in" src="../images/screens/nazrin.png" /></a>
        </dt>
        <dd>Nazr.in | 小さな小さなURL短縮サービス</dd>
      </dl>
    </section>
  </div>
</div>
