<header>
  <div id="header-layout">
    <a href="{{ site.baseurl }}/" id="logo"></a>
    <div class="clearfix" id="header-box">
      <ul class="clearfix">
        <li>
          <a class="li_about" href="/about">About</a>
        </li>
        <li>
          <a class="li_works" href="/works">Works</a>
        </li>
        <li>
          <a class="li_blog" href="/blog">Blog</a>
        </li>
        <li>
          <a class="li_contact" href="/contact">Contact</a>
        </li>
        <li>
          <a class="li_links" href="/links">Links</a>
        </li>
      </ul>
    </div>
  </div>
</header>
